@tailwind base;
@tailwind components;
@tailwind utilities;

.loading-spinner {
    width: 15px;
    height: 15px;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 1px solid #383636; /* Black */
    border-radius: 80%;
    animation: spinner 1.5s linear infinite;
  }